@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand_Book_Oblique.otf);
    font-weight: bold;
    font-style: normal;
}

body,
html {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0px;
    z-index: 4;
}

.menu {
    background-color: black;
    color: #fff;
    height: 50px;
    position: relative;
}

.menu h1 {
    font-size: 30px;
    font-family: Quicksand;
    text-align: center;
    padding-top: 5px;
}

.menu h1 i {
    color: #00FF73;
}

.burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: transform 0.5s ease-in-out;
}

.burger span::before {
    transform: translateY(-10px);
}

.burger span::after {
    transform: translateY(10px);
}

.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: translateY(0px) rotateZ(405deg);
}

.burger.active span::after {
    transform: translateZ(0px) rotate(-405deg);
}

.burger.active+nav {
    height: calc(100vh - 50px);
    background-image: url(../images/fond2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu nav {
    font-family: Quicksand;
    height: 0;
    overflow: hidden;
    text-transform: uppercase;
    background: inherit;
    transition: height .9s;
}

header nav a:link,
header nav a:hover,
header nav a:visited {
    text-decoration: none;
}

a.animated-button:link,
a.animated-button:visited {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    text-transform: uppercase;
    overflow: hidden;
    color: #00FF73;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
}

a.animated-button:link:after,
a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
    text-shadow: none;
    color: #000000;
    z-index: 4;
    opacity: 1;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
    height: 450%;
}

a.animated-button:link,
a.animated-button:visited {
    margin-top: 7%;
    padding: 10px;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button.victoria-two:after {
    background: #fff;
    opacity: 1;
    z-index: -2;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

.scrollbar {
    position: fixed;
    top: 47px;
    z-index: 9;
    width: 100%;
    background: #000000;
}

.progress-container {
    width: 100%;
    height: 3px;
    background: #000000;
}

.progress-bar {
    height: 3px;
    background: #00FF73;
    width: 0%;
}


/*-----------------------------------------------------------page--------------------------*/

main nav {
    background: linear-gradient(#000000, #525151);
    width: 300px;
    height: 1950px;
    font-family: Quicksand;
    text-align: left;
    padding-bottom: 5px;
    padding: 0px;
    opacity: 1;
    border-right: solid #000000 1px;
    border-bottom: #000000 solid 1px;
}

main nav ul {
    position: sticky;
    top: 50px;
    opacity: 1;
    z-index: 3;
    background: #525151;
    border-radius: 0px 0px 5px 0px;
}

main nav ul a:link,
main nav ul a:visited {
    text-decoration: none;
    color: #BDBCBB;
    list-style: none;
}

main nav .listetxt a:hover {
    display: list-item;
    list-style-image: url(../images/puce.png);
    padding-left: 10px;
    opacity: 1;
    transition: .4s;
    color: #00FF73;
}

main nav .team1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover .titreliste {
    color: #00FF73;
    transition: .4s;
}

.titreliste {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    padding: 0px;
}

.titreliste i {
    color: #00FF73;
}

main .aside1 {
    position: absolute;
    top: 150px;
    left: 0px;
    z-index: 2;
}

main .aside2 {
    position: absolute;
    top: 640px;
    left: 0px;
    z-index: 2;
}

main .aside3 {
    position: absolute;
    top: 1030px;
    left: 0px;
    z-index: 2;
}

main .aside4 {
    position: absolute;
    top: 1330px;
    left: 0px;
    z-index: 2;
}

main aside ul {
    color: #fff;
    list-style: none;
    font-family: Quicksand;
}

main aside ul i {
    color: #00FF73;
    padding-top: 15px;
}

main section h4 {
    margin-top: 30px;
    font-family: Quicksand;
    color: #000000;
    font-size: 1.3em;
    text-align: center;
}

main section article {
    margin-top: 20px;
    border: #000000 1px solid;
    border-radius: 15px;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 1.3em;
    padding: 35px;
    color: #000000;
}

main section article h5 {
    color: #000000;
    text-align: left;
}

main .article1 {
    height: 500px;
}

main .article1 .legendeNP {
    position: absolute;
    right: 20px;
    margin-top: 50px;
}

main .article1 .neuralplan {
    position: absolute;
    left: 20px;
}

main .article2 {
    height: 300px;
}

main .article2 img {
    position: absolute;
    left: 0px;
}

main .article2 p {
    padding-top: 30px;
    text-align: right;
    text-overflow: hidden;
}

main .article3 {
    height: 300px;
}

main .article3 img {
    position: absolute;
    right: 10px;
}

main .article3 p {
    padding-top: 30px;
    text-align: left;
}

main .article4 {
    height: 350px;
}

main .article4 img {
    position: absolute;
    right: 0px;
}

main .article4 p {
    padding-top: 50px;
    text-align: left;
}


/*--------------------------------------------------------------footer----------------------------------------------------*/

footer {
    background-color: #000000;
    border-top: #00FF73 3px solid;
    font-family: Quicksand;
    width: 100%;
    z-index: 100;
}

footer address {
    text-align: center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Quicksand;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}

footer address a:link {
    color: #28A5FF;
}

footer .lienfooter1 {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

footer nav a:link,
footer nav a:visited {
    text-decoration: none;
    color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

footer nav a:hover {
    background-color: #00FF73;
    transition: 1s;
}

footer .copyright {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    width: 100%;
}


/*--------------------------------------media query---------------------------------*/

@media (max-width: 990px) {
    main nav,
    main section img,
    main aside,
    footer .lienfooter1 {
        display: none;
    }
    main section article {
        height: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
    main .article2,
    main .article3,
    main .article4 {
        height: 500px;
    }
    footer .lienfooter2 a {
        text-align: center;
        margin-top: 10px;
        width: 100%;
    }
    footer {
        margin-top: 30px;
    }
    footer .copyright {
        margin-top: 30px;
    }
}

@media (max-width: 350px) {
    main .article2,
    main .article3,
    main .article4 {
        height: 970px;
    }
    main .article1 {
        height: 1040px;
    }
    footer {
        margin-top: 30px;
    }
}

@media (max-width: 300px) {
    main .article2,
    main .article3,
    main .article4 {
        height: 1040px;
    }
    main .article1 {
        height: 1140px;
    }
}

@media (min-width: 990px) {
    footer .lienfooter2 {
        display: none;
    }
}