    @font-face {
        font-family: 'Quicksand';
        src: url(../font/Quicksand_Book_Oblique.otf);
        font-weight: bold;
        font-style: normal;
    }
    
    body {
        background-color: #ffffff;
        padding: 0px;
        margin: 0px;
    }
    
    header {
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    
    .menu {
        background-color: black;
        color: #fff;
        height: 50px;
        position: relative;
    }
    
    .menu h1 {
        font-size: 30px;
        font-family: Quicksand;
        text-align: center;
        padding-top: 5px;
    }
    
    .menu h1 i {
        color: #00FF73;
    }
    
    .burger {
        width: 42px;
        height: 24px;
        cursor: pointer;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    .burger span {
        width: 100%;
        height: 4px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;
    }
    
    .burger span::before,
    .burger span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #ffffff;
        transition: transform 0.5s ease-in-out;
    }
    
    .burger span::before {
        transform: translateY(-10px);
    }
    
    .burger span::after {
        transform: translateY(10px);
    }
    
    .burger.active span {
        background-color: transparent;
    }
    
    .burger.active span::before {
        transform: translateY(0px) rotateZ(405deg);
    }
    
    .burger.active span::after {
        transform: translateZ(0px) rotate(-405deg);
    }
    
    .burger.active+nav {
        height: calc(100vh - 50px);
        background-image: url(../images/fond2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .menu nav {
        font-family: Quicksand;
        height: 0;
        overflow: hidden;
        text-transform: uppercase;
        background: inherit;
        transition: height .9s;
    }
    
    header nav a:link,
    header nav a:hover,
    header nav a:visited {
        text-decoration: none;
    }
    
    a.animated-button:link,
    a.animated-button:visited {
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        text-transform: uppercase;
        overflow: hidden;
        color: #00FF73;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.3em;
        font-weight: 900;
    }
    
    a.animated-button:link:after,
    a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
    }
    
    a.animated-button:link:hover,
    a.animated-button:visited:hover {
        text-shadow: none;
        color: #000000;
        z-index: 4;
        opacity: 1;
    }
    
    a.animated-button:link:hover:after,
    a.animated-button:visited:hover:after {
        height: 450%;
    }
    
    a.animated-button:link,
    a.animated-button:visited {
        margin-top: 7%;
        padding: 10px;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    a.animated-button.victoria-two:after {
        background: #fff;
        opacity: 1;
        z-index: -2;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        transform: translateX(-50%) translateY(-50%) rotate(25deg);
    }
    
    .scrollbar {
        position: fixed;
        top: 47px;
        z-index: 9;
        width: 100%;
        background: #000000;
    }
    
    .progress-container {
        width: 100%;
        height: 3px;
        background: #000000;
    }
    
    .progress-bar {
        height: 3px;
        background: #00FF73;
        width: 0%;
    }
    /*-------------------------------------------------main---------------------------------------------*/
    
    .introduction {
        margin-top: 100px;
    }
    
    main .introduction h3 {
        color: #00FF73;
        margin-top: 30px;
        text-align: center;
        font-family: Quicksand;
    }
    
    main .introduction p {
        text-align: center;
        margin-top: 40px;
        margin-right: 200px;
        margin-left: 200px;
        padding: 10px;
        color: #000000;
        font-size: 1.3em;
        font-family: Quicksand;
    }
    
    section p {
        font-size: 1.20em;
    }
    
    .section2 a {
        margin-top: 130px;
        margin-left: 80px;
        margin-right: 80px;
        font-family: Quicksand;
        border: #355A74 solid 2px;
        padding: 50px;
        border-radius: 15px;
        color: #000000;
    }
    
    .section2 a:link,
    .section2 a:visited,
    .section2 a:active {
        text-decoration: none;
    }
    
    .section2 a:hover {
        border: #00FF73 solid 2px;
        transition: .3s;
    }
    
    .section2 a:hover .img1s2 {
        opacity: 0;
    }
    
    .section2 a:hover .img2s2 {
        opacity: 1;
        transition: 0s;
    }
    
    .section2 h4 {
        color: #355A74;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    
    .section2 p {
        padding-top: 50px;
        text-align: left;
    }
    
    .section2 img {
        position: absolute;
        left: 0px;
        padding-bottom: 10px;
    }
    
    .section2 .img2s2 {
        opacity: 0;
    }
    
    .section3 a {
        margin-top: 130px;
        margin-left: 80px;
        margin-right: 80px;
        font-family: Quicksand;
        border: #355A74 solid 2px;
        padding: 50px;
        border-radius: 15px;
        color: #000000;
    }
    
    .section3 a:link,
    .section3 a:visited,
    .section3 a:active {
        text-decoration: none;
    }
    
    .section3 a:hover {
        border: #00FF73 solid 2px;
        transition: .3s;
    }
    
    .section3 a:hover .img1s3 {
        opacity: 0;
    }
    
    .section3 a:hover .img2s3 {
        opacity: 1;
        transition: 0s;
    }
    
    .section3 h4 {
        text-align: center;
        color: #355A74;
    }
    
    .section3 p {
        padding-top: 50px;
        text-align: left;
    }
    
    .section3 img {
        position: absolute;
        right: 0px;
        padding-bottom: 10px;
    }
    
    .section3 .img2s3 {
        opacity: 0;
    }
    /*--------------------------------------------------------------footer----------------------------------------------------*/
    
    footer {
        background-color: #000000;
        border-top: #00FF73 3px solid;
        font-family: Quicksand;
        margin-top: 150px;
        width: 100%;
        z-index: 100;
    }
    
    footer address {
        text-align: center;
        color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: Quicksand;
        font-size: 1.1em;
        letter-spacing: 0.05em;
    }
    
    footer address a:link {
        color: #28A5FF;
    }
    
    footer .lienfooter1 {
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    footer nav a:link,
    footer nav a:visited {
        text-decoration: none;
        color: #fff;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
    
    footer nav a:hover {
        background-color: #00FF73;
        transition: 1s;
    }
    
    footer .copyright {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
        width: 100%;
    }
    /*--------------------------------------media query---------------------------------*/
    
    @media (max-width: 990px) {
        .section2 img,
        .section3 img,
        footer .lienfooter1 {
            display: none;
        }
        main .introduction p {
            padding: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .section2 a,
        .section3 a {
            margin-left: 10px;
            margin-right: 10px;
            padding: 5px;
        }
        footer .lienfooter2 a {
            text-align: center;
            margin-top: 10px;
            width: 100%;
        }
        footer .copyright {
            margin-top: 30px;
        }
    }
    
    @media (min-width: 990px) {
        footer .lienfooter2 {
            display: none;
        }
    }